<h1>How it works</h1>

<p>1. Add an event.</p>
<p>2. Add a contact. K.I.T with auto populate a drop down with the events you have  created so you can match your contact to his or her corresponding event.</p>
<p>3. Repeat. </p>