<h1>How it works</h1>

<p>1. First, add an event</p>
<p>2. Second, add a contact. K.I.T with auto populate with the event you have so you can match your contact to any event you created</p>
<p> 3. Dassit! </p>