/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 /* *= require_tree . */
 /* *= require_self */
 /* */ 
 @import "bootstrap";

 body {
    background-color: #D5D5D5
    // #D5D5D5
    // #A0A0A0
    }

main {
    margin-top: 60px
}
 /* ***************** USER HOMEPAGE STYLING ********************** */


#events_contacts_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-wrap: wrap

}

#user_info_container {
    display: flex;
    justify-content: center;
    // margin-top: 10px;

}

#button-container {
    display: flex;
    justify-content: space-evenly;

    
}
 


// ****************** NAV BAR *********************

.navbar {
    background-color: #01395E;
    margin-bottom: 20px;
}



.top-nav-collapse {
    // background-color: rgba(0,0,255,0.3);
    background-color: transparent
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #01395E;
    }
}


// ***************** PAGE STYLING *****************

h1,thead {
    font-family: 'Raleway', sans-serif;
    color: #01395E;

}

td, label{
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    font-family:'Montserrat', sans-serif;
    font-size: .9em

}
.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em
}

p {
    font-family:'Montserrat', sans-serif;
    font-size: 1em;
    color:#357caa;
}

a {
    font-family:'Montserrat', sans-serif;
    color: #01395E;
}

// ************** LANDING PAGE ****************
.landing-text {
width: 50%;
margin: auto;
margin-top: 30px;
}

h3 {
    font-family:'Raleway', sans-serif;
    color: #01395E;
}

.landing-page-text {
    font-family:'Montserrat', sans-serif;
    font-size: 1.15em;
    color:#357caa;
}

// *** Sign Up Form ***
.new_user{
display: flex;
flex-direction: column;
align-items: center
}
